/* ---------------------------------------- */
/*                                          */
/*               INDEX.HTML                 */
/*                                          */
/* ---------------------------------------- */

/* ========== Horizontal Nav Bar ========== */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(252, 245, 217);
    color: #000;
    font-family: system-ui, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;

    background-color: rgba(252, 245, 217);
    border-bottom: 8px solid rgb(243, 236, 210);
}

.navbar-parent {
    font-family: system-ui, sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-dropdown {
    background-color: rgba(252, 245, 217);
    width: 100px;
}

#profile-select:hover {
    cursor: pointer;
}

/* ========== Profile Section ========== */
#pfp {
    height: 32px;
    width: 32px;
    background-color: transparent;
    align-self: center;
    vertical-align: middle;
}

/* ========== Sidebar Styles ========== */
.vertical-nav {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 200px;
    background-color: rgba(252, 245, 217);
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    border-right: 8px solid rgb(243, 236, 210);
    box-sizing: border-box;
    background-color: rgba(252, 245, 217);
    padding-top: 10px;
    box-sizing: border-box;
}


.nav-link {
    padding: 15px 20px;
    background-color: rgba(252, 245, 217);
    display: block;
    align-items: center;
    padding: 0 25px;
    height: 60px;
    text-decoration: none;
    color: black;
}

.vertical-nav .nav-link:hover {
    background-color: #fbe9af;
}

.vertical-nav .nav-link.active {
    background-color: #fbe9af;
}


