/* ========== Horizontal Nav Bar ========== */
body {
    background-color: rgba(252, 245, 217);
    color: #000;
    font-family: system-ui, sans-serif;
}

.navbar {
    background-color: rgba(252, 245, 217);
    border-bottom: 8px solid rgb(243, 236, 210);
}

.navbar-parent {
    font-family: system-ui, sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-dropdown {
    background-color: rgba(252, 245, 217);
    width: 100px;
}

#profile-select:hover {
    cursor: pointer;
}

/* ========== Profile Section ========== */
#pfp {
    height: 32px;
    width: 32px;
    background-color: transparent;
    align-self: center;
    vertical-align: middle;
}

/* ========== Sidebar Styles ========== */
.vertical-nav {
    background-color: rgba(252, 245, 217);
    width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 8px solid rgb(243, 236, 210);
    box-sizing: border-box;
    background-color: rgba(252, 245, 217);
    padding-top: 10px;
}


.nav-link {
    background-color: rgba(252, 245, 217);
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 60px;
    text-decoration: none;
    color: black;
}

.vertical-nav .nav-link:hover {
    background-color: #fbe9af;
}

.vertical-nav .nav-link.active {
    background-color: #fbe9af;
}

/* ngl i have no clue why the below doesnt work when it should... */
/* =========== link coloring  =========== */
a {
    color: #fbe9af;
}

a:hover {
    color: #fbe9af;
}

/* button styling */
.btn {
    border-bottom: solid 4px #fbe9af;
    border-right: solid 4px #fbe9af;
    background-color: #fbe9af;
}

.btn:hover {
    background-color: #fbe9af;
}

/* =========== checkbox coloring  =========== */
.form-group label.form-label {
    color: #fbe9af;
}

.form-group input.form-control:focus {
    border-color: #fbe9af;
    box-shadow: 0 0 10px #fbe9af;
}

.form-control:focus {
    border-color: #fbe9af;
    box-shadow: 0 0 10px #fbe9af;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px #fbe9af;
    border: #fbe9af;
}

input[type="checkbox"]:checked {
    background-color: #fbe9af;
    box-shadow: 0 0 10px #fbe9af;
    border: #fbe9af;
}

input[type="checkbox"]:enabled {
    box-shadow: 0 0 10px #fbe9af;
    border: #fbe9af;
}

/* ========== Leaderboard Styles ========== */

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
