/* ========== Horizontal Nav Bar ========== */
body {
    background-color: rgba(252, 245, 217);
    color: #000;
    font-family: system-ui, sans-serif;
}

.navbar {
    background-color: rgba(252, 245, 217);
    border-bottom: 8px solid rgb(243, 236, 210);
}

.navbar-parent {
    font-family: system-ui, sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-dropdown {
    background-color: rgba(252, 245, 217);
    width: 100px;
}

#profile-select:hover {
    cursor: pointer;
}

/* ========== Profile Section ========== */
#pfp {
    height: 32px;
    width: 32px;
    background-color: transparent;
    align-self: center;
    vertical-align: middle;
}

/* ========== Sidebar Styles ========== */
.vertical-nav {
    background-color: rgba(252, 245, 217);
    width: 200px;
    display: flex;
    flex-direction: column;
    border-right: 8px solid rgb(243, 236, 210);
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(252, 245, 217);
    padding-top: 10px;
}


.nav-link {
    background-color: rgba(252, 245, 217);
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 60px;
    text-decoration: none;
    color: black;
}

.vertical-nav .nav-link:hover {
    background-color: #fbe9af;
}

.vertical-nav .nav-link.active {
    background-color: #fbe9af;
} 

/* ========== Leaderboard Styles ========== */

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
