/* ---------------------------------------- */
/*                                          */
/*               INDEX.HTML                 */
/*                                          */
/* ---------------------------------------- */

/* ========== Horizontal Nav Bar ========== */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(252, 245, 217);
    color: #000;
    font-family: system-ui, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;

    background-color: rgba(252, 245, 217);
    border-bottom: 8px solid rgb(243, 236, 210);
}

.navbar-parent {
    font-family: system-ui, sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-dropdown {
    background-color: rgba(252, 245, 217);
    width: 100px;
}

#profile-select:hover {
    cursor: pointer;
}

/* ========== Profile Section ========== */
#pfp {
    height: 32px;
    width: 32px;
    background-color: transparent;
    align-self: center;
    vertical-align: middle;
}

/* ========== Shop + Leaderboard Styles ========== */
div.shop-card {
    background-color: #FFD788; 
    height:280px; 
    border-radius:20px;
    padding:20px;
    margin-left:20px;
    margin-right:20px;
    position: relative;
}

div.warning-text {
    position: absolute; 
    bottom: 0; 
    margin-bottom: 10px; 
    font-size:14px; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

/* ========== Sidebar Styles ========== */
.vertical-nav {
    position: fixed;
    top: 70px;
    left: 0px;
    width: 200px;
    background-color: rgba(252, 245, 217);
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    border-right: 8px solid rgb(243, 236, 210);
    box-sizing: border-box;
    background-color: rgba(252, 245, 217);
    padding-top: 10px;
    box-sizing: border-box;
}


.nav-link {
    padding: 15px 20px;
    background-color: rgba(252, 245, 217);
    display: block;
    align-items: center;
    padding: 0 25px;
    height: 60px;
    text-decoration: none;
    color: black;
}

.vertical-nav .nav-link:hover {
    background-color: #fbe9af;
}

.vertical-nav .nav-link.active {
    background-color: #fbe9af;
}

/* =========== link coloring  =========== */
a {
    color: #ffca1dff;
}

a:hover {
    color: rgb(255, 187, 0);
}

/* =========== small media screen navbar link coloring  =========== */
.nav-link:hover {
    color: rgb(255, 187, 0);
}

.nav-link:hover {
    background-color: #fbe9af;
}

.navbar-toggler {
    color: #fbe9af00;
    border: #fbe9af;
}

/* =========== button styling =========== */
.loginbtn {
    background-color: #fbe9af;
    color: #000;
}

.loginbtn:hover {
    background-color: #fbe9af;
}

/* =========== form group coloring  =========== */
.form-group .form-control {
    background-color: #fbe9af; 
    border-color: #fbe9af;
}

.form-group label.form-label {
    color: #000;
}

.form-group label.form-check-label {
    color: #ffca1dff;
}

.form-group input.form-control:focus {
    border-color: #fbe9af;
    box-shadow: 0 0 10px #fbe9af;
}

.form-control:focus {
    border-color: #fbe9af;
    box-shadow: 0 0 10px #fbe9af;
}

/* =========== checkbox coloring  =========== */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px #fbe9af;
    border: #fbe9af;
}

input[type="checkbox"]:checked {
    background-color: #fbe9af;
    box-shadow: 0 0 10px #fbe9af;
    border: #fbe9af;
}

input[type="checkbox"]:enabled {
    box-shadow: 0 0 10px #fbe9af;
    border: #fbe9af;
}

/* ========== Leaderboard Styles ========== */

.input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modeSelect, #friendSelect, #timeSelect {
   border-radius: 14px;
   border-color: white;
}

